body {

font-size: 16px;
color: navy;
font-family: 'Oxygen', sans-serif;
background: white; /* For browsers that do not support gradients */
background: -webkit-linear-gradient(white, lightgrey); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(white, lightgrey); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(white, lightgrey); /* For Firefox 3.6 to 15 */
background: linear-gradient(white, lightgrey); /* Standard syntax */
}



/**************** NavBar Header****************/


#header-nav{

  border-radius: 0;
  border: 0;

}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: navy;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid navy;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.dropdown-menu
{

background:rgba(255,255,255,0.70);

border: none;

border-radius: 0 ;
}

#nav-list .dropdown-menu a {

text-align: left;
}

/******************* Carousel********************/

.container {

width:100%;
margin: 0;
padding: 0;

}

#myCarousel .nav a small 
{
    
display:block;

}


#myCarousel .nav a 
{
    
border-radius:0px;

}

.carousel-inner .item img {
width:100%;
}



/******************* Carousel nav pills********************/

#myCarousel .nav a small
{
    display: block;
}

#myCarousel .nav
{
    background: #eee;
}

.nav-justified > li > a
{
    border-radius: 0px;
}

.nav-pills>li[data-slide-to="0"].active a { background-color: #16a085; }

.nav-pills>li[data-slide-to="1"].active a { background-color: #e67e22; }

.nav-pills>li[data-slide-to="2"].active a { background-color: #2980b9; }

.nav-pills>li[data-slide-to="3"].active a { background-color: #8e44ad; }



/*************************** FOOTER **************************************/
.panel-footer {

  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
  color:white;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#Iletisim, #Servisler {
  line-height: 2;
}
#Iletisim > span, #Servisler > ul > span {
  font-size: 1.3em;
}
#Iletisim p {

  font-size: .9em;
  line-height: 1.9;
}


/*************************** Social Media **************************************/
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
 color: #f39c12;
 }


/**************************** Media Queries***************************/

@media (min-width: 1200px) {

.carousel-inner .item img {
height: 500px;

}
#header-nav{

  border-radius: 0;
  border: 0;

}

#form{
width:70%;
text-allign:center;
margin-top:50px;
margin-left:50px;
}

#transmethod {

padding-top: 7px;

}

h2{
font-size:30px;
}

h4{
font-size:16px;
}

.thumbnail {
    
position:relative;
    
overflow:hidden;

width:500px;
margin-top:50px;
margin-left:50px;

}
 

.caption {
    
position:absolute;
    
top:-100%;
    
right:0;
    
background:rgba(66, 139, 202, 0.75);
    
width:100%;
    
height:100%;
    
padding:2%;
    
text-align:center;
    
color:#fff !important;
    
z-index:2;
    
-webkit-transition: all 0.5s ease-in-out;
    
-moz-transition: all 0.5s ease-in-out;
    
-o-transition: all 0.5s ease-in-out;
    
-ms-transition: all 0.5s ease-in-out;
    
transition: all 0.5s ease-in-out;

}

.thumbnail:hover .caption {
    
top:0%;
}
}
}

@media (min-width: 992px) and (max-width: 1199px) {

.carousel-inner .item img {
height: 500px;
}
#header-nav{

  border-radius: 0;
  border: 0;
}

#transmethod {

padding-top: 7px;

}

#logo {
height: 64px;
margin-top: 0px;
}

#form{
width:80%;
text-allign:center;
margin-top:40px;
margin-left:20px;
}

.thumbnail {
    
position:relative;
    
overflow:hidden;

width:100%;
margin-top:10px;
margin-left:2px;
margin-right:2px;
}
 

.caption {
    
position:absolute;
    
top:-100%;
    
right:0;
    
background:rgba(66, 139, 202, 0.75);
    
width:100%;
    
height:100%;
    
padding:2%;
    
text-align:center;
    
color:#fff !important;
    
z-index:2;
    
-webkit-transition: all 0.5s ease-in-out;
    
-moz-transition: all 0.5s ease-in-out;
    
-o-transition: all 0.5s ease-in-out;
    
-ms-transition: all 0.5s ease-in-out;
    
transition: all 0.5s ease-in-out;
}


.thumbnail:hover .caption {
    
top:0%;
}

#thumbs h2{
font-size:30px;
}
}

@media (min-width: 768px) and (max-width: 991px) {

.carousel-inner .item img {
height: 450px;
}
#header-nav{

  border-radius: 0;
  border: 0;
}

#transmethod {

padding-top: 7px;

}

#logo {
height: 64px;
margin-top: 0px;
}


#form{
width:85%;
text-allign:center;
margin-top:30px;
margin-left:20px;
}

.thumbnail {
    
position:relative;
    
overflow:hidden;

width:100%;
height:250px;
margin-top:10px;
margin-left:5px;
margin-right:5px;
}
 

.caption {
    
position:absolute;
    
top:-100%;
    
right:0;
    
background:rgba(66, 139, 202, 0.75);
    
width:100%;
    
height:100%;
    
padding:2%;
    
text-align:center;
    
color:#fff !important;
    
z-index:2;
    
-webkit-transition: all 0.5s ease-in-out;
    
-moz-transition: all 0.5s ease-in-out;
    
-o-transition: all 0.5s ease-in-out;
    
-ms-transition: all 0.5s ease-in-out;
    
transition: all 0.5s ease-in-out;
}


.thumbnail:hover .caption {
    
top:0%;
}

#thumbs h2{
font-size:25px;
}
}


@media (max-width: 767px) {
.carousel-inner .item img {
height: 400px;
}

#logo {
height: 64px;
margin-top: -10px;
}
#form{
width:90%;
text-allign:center;
margin-top:10px;
margin-left:5px;
}

.thumbnail {
    
position:relative;
    
overflow:hidden;

width:100%;
margin-top:10px;
margin-left:0.5px;
margin-right:0.5px;
}
 

.caption {
    
position:absolute;
    
top:-100%;
    
right:0;
    
background:rgba(66, 139, 202, 0.75);
    
width:100%;
    
height:100%;
    
padding:2%;
    
text-align:center;
    
color:#fff !important;
    
z-index:2;
    
-webkit-transition: all 0.5s ease-in-out;
    
-moz-transition: all 0.5s ease-in-out;
    
-o-transition: all 0.5s ease-in-out;
    
-ms-transition: all 0.5s ease-in-out;
    
transition: all 0.5s ease-in-out;
}


.thumbnail:hover .caption {
    
top:0%;
}

#thumbs h2{
font-size:25px;
}
}
@media (max-width: 479px){

.carousel-inner .item img {
height: 250px;
}

#logo {
height: 64px;
margin-top: -10px;
}

#form{
width:90%;
text-allign:center;
margin-top:10px;
margin-left:5px;
}

.thumbnail {
    
position:relative;
    
overflow:hidden;

width:100%;
margin-top:10px;
margin-left:0.5px;
margin-right:0.5px;
}
 

.caption {
    
position:absolute;
    
top:-100%;
    
right:0;
    
background:rgba(66, 139, 202, 0.75);
    
width:100%;
    
height:100%;
    
padding:2%;
    
text-align:center;
    
color:#fff !important;
    
z-index:2;
    
-webkit-transition: all 0.5s ease-in-out;
    
-moz-transition: all 0.5s ease-in-out;
    
-o-transition: all 0.5s ease-in-out;
    
-ms-transition: all 0.5s ease-in-out;
    
transition: all 0.5s ease-in-out;

}

.thumbnail:hover .caption {
    
top:0%;

}

#thumbs h2{
font-size:25px;
}

}

@media (max-width: 400px){

#logo {
height: 64px;
margin-top: -10px;

}


#transmethod {

padding-top: 7px;

}

#form{
width:90%;
text-allign:center;
margin-top:10px;
margin-left:5px;
}

.thumbnail {
    
position:relative;
    
overflow:hidden;

width:100%;
margin-top:10px;
margin-left:0.5px;
margin-right:2px;
}
 

.caption {
    
position:absolute;
    
top:-100%;
    
right:0;
    
background:rgba(66, 139, 202, 0.75);
    
width:100%;
    
height:100%;
    
padding:2%;
    
text-align:center;
    
color:#fff !important;
    
z-index:2;
    
-webkit-transition: all 0.5s ease-in-out;
    
-moz-transition: all 0.5s ease-in-out;
    
-o-transition: all 0.5s ease-in-out;
    
-ms-transition: all 0.5s ease-in-out;
    
transition: all 0.5s ease-in-out;

}


.thumbnail:hover .caption 
{
    
top:0%;

}

#thumbs h2{
font-size:25px;
}

h4{
font-size:12px;
}

}
